<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Update Menu</h1>
        <form action="/menus/<%= data.id %>/edit" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" value="<%= data.name %>">
            <br>

            <label for="price">Price</label>
            <input type="number" name="price" value="<%= data.price %>">
            <br>

            <label for="amount">Amount</label>
            <input type="number" name="Number" value="<%= data.amount %>">
            <br>

            <label for="description">Description</label>
            <input type="text" name="description" value="<%= data.description %>">
            <br>

            <input type="submit" value="Update">
        </form>
        <script src="" async defer></script>
    </body>
</html>